<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-check-square fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Scripting validation</h4>
                <p>Want to ensure that the questionnaire and the database marry each other well? We provide you with our SPSS checking services to flag the respondents that don’t meet the survey instructions.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-table fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">DATA QUALITY CHECKS</h4>
                <p>One of the major issues affecting data analysis and interpretation is low-quality respondents: those who speed through the survey (speeders), respondents who use expletives or gibberish (bad open-ends), as well as those who select the same answer for all grid items (straight-liners).  We offer you the best options to deal with all substandard data.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Database clear labelling</h4>
                <p>Tired of all the programming mumbo-jumbo being included in your datafiles? We can help you format the files so as to have a clean and easy-to-read datafile.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Quota balancing & Weighting</h4>
                <p>Is the quota over-spilling? We can certainly slash those number for you by removing the extra cases from the database. Not enough respondents in some groups? We will weight them up or down or any way you’d like. We also offer low “weighting” time.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Types of Files</h4>
                <p>We offer a wide variety of ways to store your survey data. We can deliver raw data in <strong>SPSS</strong>, <strong>Excel</strong> (with codes and labels), or, if you fancy, we can also provide the data in <strong>CSV</strong> or <strong>ASCII</strong> formats. But the one that’s closest to our hearts is <strong>Tables in Excel</strong>, <strong>PDF</strong>, or <strong>Word</strong>, where we can really show our talent and meet your needs.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Custom requests</h4>
                <p>Whatever your analysis requires, we will work with you to address your needs. Whether it’s different formatting for the SPSS or Excel file, or a different layout for the tables, we will go out of our way to impress you with the result.</p>
            </div>
        </div>
    </div>
</section>
