<!-- About Section -->
    <section id="special_offers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Special offers</h2>
                </div>
            </div>
            <div class="row">
                <h4 class="section-heading">1<sup>st</sup> project free</h4>
            </div>
            <div class="row">
                <h4 class="section-heading">2<sup>nd</sup> project 30% off</h4>
            </div>
            <div class="row">
                <h4 class="section-heading">3<sup>rd</sup> project 1 type of file free (SPSS, Excel, CSV, ASCII)</h4>
            </div>
            <div class="row">
                <h4 class="section-heading">4<sup>th</sup> project: data checking free</h4>
            </div>
            <div class="row">
                <h4 class="section-heading">5<sup>th</sup> project: you should start paying us because we are good at what we do and you know it</h4>
            </div>
        </div>
    </section>
